<div class="card shadow-effect">
    <div class="card-body">
        <div class="text-center mt-3 mb-5">
            <h3>SUBSCRIPTION FORM</h3>
            <p class="m-auto  subs-text my-3">dummy text , dummy text ,.....So open the subscription-form component HTML file
                and add these markups.
            </p>

            <form action="" class="d-grid mb-5">
                <div class="row">
                    <div class="col-md-5 ">
                        <input type="text" class="form-control shadow-effect" placeholder="your name">
                    </div>
                    <div class="col-md-5">
                        <input type="email" class="form-control shadow-effect" placeholder="Email Address">
                    </div>

                    <div class="col-md-2 d-grid gap-2">
                        <button class="btn btn-info btn-theme shadow-effect text-white">SUBSCRIBE</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>