<div class="card mt-5 shadow-effect">
    <div class="card-body">
        <h4>Leave a comment</h4>
        <p>You can leave a comment using this comment form</p>

        <form>
            <div class="form-floating mb-3">
                <input type="text" class="form-control  shadow-effect" name="name" id="name" placeholder="Enter your name">
                <label for="name">Name</label>
            </div>
            
            <div class="form-floating mb-3">
                <textarea type="text" name="comment" id="comment" cols="30" rows="10" placeholder="Add your comment here" class="shadow-effect "></textarea>
      
            </div>

            <button class="btn btn-info text-white btn-theme">Add a comment </button>
        </form>
    </div>
</div>