<section class="mt-5">
    <div class="container my-5 p-5 bg-theme">
        <h1 class="text-white text-center">ABOUT US</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            
            <p>dummy text for about us page .dummy text for about us page .dummy text for about us page .dummy text for
                about us page .dummy text for about us page .dummy text for about us page .dummy text for about us page
                .dummy text for about us page .</p>

            <p>dummy text for about us page .dummy text for about us page .dummy text for about us page .dummy text for
                about us page .dummy text for about us page .dummy text for about us page .dummy text for about us page
                .dummy text for about us page .</p>

            <p>dummy text for about us page .dummy text for about us page .dummy text for about us page .dummy text for
                about us page .dummy text for about us page .dummy text for about us page .dummy text for about us page
                .dummy text for about us page .</p>


            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme text-white">BACK TO HOME</button>
            </div>
        </div>
    </div>
</section>