<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://images.pexels.com/photos/3225517/pexels-photo-3225517.jpeg?auto=compress&cs=tinysrgb&w=600"
                    alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center">Design</small>
                    <small class="bg-light text-success text-center ms-2">Featured</small>
                    <small class="bg-light text-info text-center ms-2">View : 100,255</small>
                    <small class="bg-light text-warning text-center ms-2"> Last Updated : Sept 20 , 2023</small>

                    ့<h1 class="my-3">How to Write and Publish Your First Blog Post</h1>
                    <p>Coming up with winning ideas is often the most difficult part of blogging, so it’s crucial to
                        carve out time for creative thinking.
                        Anyone can connect with their audience through blogging and enjoy the myriad benefits that
                        blogging provides: organic traffic from search engines, promotional content for social media,
                        and recognition from a new audience you haven’t tapped into yet.
                        If you’ve heard about blogging but are a beginner and don’t know where to start, the time for
                        excuses is over. Not only can you create an SEO-friendly blog, but we’ll cover how to write and
                        manage your business's blog as well as provide helpful templates to simplify your blogging
                        efforts.


                        Anyone can connect with their audience through blogging and enjoy the myriad benefits that
                        blogging provides: organic traffic from search engines, promotional content for social media,
                        and recognition from a new audience you haven’t tapped into yet.
                        If you’ve heard about blogging but are a beginner and don’t know where to start, the time for
                        excuses is over. Not only can you create an SEO-friendly blog, but we’ll cover how to write and
                        manage your business's blog as well as provide helpful templates to simplify your blogging
                        efforts

                        What better way to draw inspiration than to look at your well-established competition?
                        It’s worth taking a look at popular, highly reviewed blogs because their strategy and execution
                        is what got them to grow in credibility. The purpose of doing this isn’t to copy these elements,
                        but to gain better insight into what readers appreciate in a quality blog.
                        When you find a competitor’s blog, take the following steps:

                        Coming up with winning ideas is often the most difficult part of blogging, so it’s crucial to
                        carve out time for creative thinking.
                        Anyone can connect with their audience through blogging and enjoy the myriad benefits that
                        blogging provides: organic traffic from search engines, promotional content for social media,
                        and recognition from a new audience you haven’t tapped into yet.
                        If you’ve heard about blogging but are a beginner and don’t know where to start, the time for
                        excuses is over. Not only can you create an SEO-friendly blog, but we’ll cover how to write and
                        manage your business's blog as well as provide helpful templates to simplify your blogging
                        efforts.


                    </p>
                </div>
            </div>
            <app-comment-form> </app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>

        </div>
    </div>
</div>